<%- include('layouts/header') %>

<div class="error-container">
    <h1>We're lost in space</h1>
    <h3><%= error.status %> | <%= error.message %></h3>
    <br />
    <a href="/" class="back-home">← Back to home</a>
</div>

<%- include('layouts/footer') %>
