<%- include('./layouts/header') %>

<!-- Page Content -->
<div class="index-container">
    <h1>Welcome to RBAC-PROJECT</h1>

    <!-- Add an image -->
    <div class="image-container">
        <img src="/images/rbac.jpg" alt="Logo" class="logo-image">
    </div>
</div>

<%- include('./layouts/footer') %>

